/* Scale information grid style start */
.main{
    color: #424242;
}
.wrapper-table{
    margin: 92px 322px 119px 0px;
    width: 1400px;
    height: 1200px;
}
.column{
    padding: 0px 60px 0px 60px;
    margin: 0px 0px 0px 0px;
}
.h1-style:after {
    margin: 55px 0px 0px 0px;
    width: 34px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h1-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.h2-style:after {
    margin: 45px 0px 0px 0px;
    width: 225px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h2-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.h3-style:after {
    margin: 35px 0px 0px 0px;
    width: 290px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h3-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.h4-style:after {
    margin: 30px 0px 0px 0px;
    width: 365px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h4-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.h5-style:after {
    margin: 25px 0px 0px 0px;
    width: 420px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h5-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.h6-style:after {
    margin: 15px 0px 0px 0px;
    width: 440px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.h6-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.subtitle1-style:after {
    margin: 15px 0px 0px 0px;
    width: 480px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.subtitle1-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.subtitle2-style:after {
    margin: 15px 0px 0px 0px;
    width: 485px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.subtitle2-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.body1-style:after {
    margin: 15px 0px 0px 0px;
    width: 495px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.body1-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.body2-style:after {
    margin: 10px 0px 0px 0px;
    width: 500px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.body2-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.button-style:after {
    margin: 10px 0px 0px 0px;
    width: 487px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.button-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.caption-style:after {
    margin: 10px 0px 0px 0px;
    width: 499px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.caption-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}
.overline-style:after {
    margin: 10px 0px 0px 0px;
    width: 485px;
    content:"";
    border-top: 3px dotted #9D9D9D;
    font-size: 16px;
    line-height: 130%;
}
.overline-style{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
}